body {
    margin: 0;
}

.el-header, .el-main, .el-footer {
    padding: 0;
}

.el-button {
    padding: 0;
}

.el-button .el-icon + span {
    margin-left: 0;
}

.el-button + .el-button {
    margin-left: 0;
}

.el-link__inner {
    display: block;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div {
    box-sizing: border-box;
}